html, body{
    width: 100%;
    height: 97vh;
}

body{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: black;
}

#padre{
    background-color: slategrey;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
